<%= render "shared/navbar" %>
<br>
<h1>The Gossip Project</h1>
<h2>Augustin de Louvencourt & Thibault Mariolle</h2>
<br>
<h4>- Ruby & Rails :</h4>
<p>
* Ruby version '2.5.1'<br>
* Rails version '5.2.3'<br><br>
<p> Codename: Llamas in Pajamas<br>
<h3>Made in Montpellier</h3>