<%= render "shared/navbar" %>

<h1>The Gossip Project</h1>
<h2>Augustin de Louvencourt & Mariolle Thibault</h2>

<p>
* Ruby version '2.5.1'<br>
* Rails version '5.2.3'<br><br>

Random BDD:<br>
$ rails db:seed
</p>

<h2>Made in Montpellier</h2>